<!DOCTYPE html>
<html>

<head>
    <title>Update User</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="/mainStyle.css">

<body>
    <div id="menu"></div>

    <p id="success"></p>

    <form id="updateUser" method="post">
        <div class="form-container">
            <div class="form-column">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="userName" name="userName">
                    <br>
                    <input type="hidden" id="userId" name="userId" value="">

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email">
                    <br>
                    <label for="role">Role:</label>

                    <select id="userRole">
                        <option value="" selected>select</option>

                        <option value="1">Admin User</option>
                        <!-- <option value="69">Super User</option> -->
                    </select>
                    <br>
                    <label for="status">Status:</label>

                    <select id="userStatus">
                        <option value="" selected>select</option>
                        <option value="1">Active</option>
                        <option value="0">Blocked</option>
                    </select>
                    <br>
                    <label for="fullName">Full Name:</label>
                    <input type="text" id="fullName" name="fullName">
                    <br>
                    <p id="error"></p>
                </div>
                <input type="submit" id="addUser" value="Update User">
            </div>
        </div>
    </form>
    <script type="text/javascript" src="/loggedIn.js">  </script>
    <script type="text/javascript" src="/userMgmt.js">  </script>
    <script type="text/javascript" src="/menu.js">  </script>

    <script>
        const userName = document.getElementById('userName')
        const email = document.getElementById('email');
        const role = document.getElementById('userRole');
        const fullname = document.getElementById('fullName');
        const status = document.getElementById('userStatus');



        const loco = new URL(window.location.href)
        document.addEventListener("DOMContentLoaded", function () {
            userName.value = loco.searchParams.get("userName");
            email.value = loco.searchParams.get("email");
            role.value = loco.searchParams.get("role")
            status.value = loco.searchParams.get("status")
            fullname.value = loco.searchParams.get("fullName");
        });


        document.getElementById('addUser').addEventListener('click', function (e) {
            e.preventDefault();
            const data = { "userName": userName.value, "email": email.value, "role": role.value, "fullName": fullname.value, "status": status.value };
            updateUser(data)

        });
    </script>
</body>

</html>