<!DOCTYPE html>
<html>

<head>
    <title>Add Product</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<body>
    <div id="menu"></div>

    <p id="success"></p>

    <form id="addProduct" method="post">
        <label for="prodName">Product Name:</label>
        <input type="text" id="prodName" name="prodName">
        <br>
        <label for="prodLocation">Location:</label>
        <input type="text" id="prodLocation" name="prodLocation">
        <br>
        <label for="prodLocation1">Location 1:</label>
        <input type="text" id="prodLocation1" name="prodLocation1">
        <br>
        <label for="prodLocation2">Location 2:</label>
        <input type="text" id="prodLocation2" name="prodLocation2">
        <!-- <br>
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="fileInput" name="prodImages" accept="image/*" multiple>
            <button type="button" onclick="uploadImages()" >Upload</button>
        </form> -->
        <br>
        <label for="prodTitle">Title:</label>
        <input type="text" id="prodTitle" name="prodTitle">
        <br>
        <label for="prodDescription">Description:</label>
        <textarea id="prodDescription" name="prodDescription"></textarea>
        <br>
        <p id="error"></p>
        <input type="submit" id="addProductButton" value="Add Product">
    </form>

    <script type="text/javascript" src="/loggedIn.js"></script>
    <script type="text/javascript" src="/prodMgmt.js">  </script>
    <script type="text/javascript" src="/menu.js">  </script>

    <script>

        document.getElementById('addProductButton').addEventListener('click', function (e) {
            e.preventDefault();

            const prodName = document.getElementById('prodName').value;
            const prodLocation = document.getElementById('prodLocation').value;
            const prodLocation1 = document.getElementById('prodLocation1').value;
            const prodLocation2 = document.getElementById('prodLocation2').value;
            // const prodImage = document.getElementById('prodImage').value;
            const prodTitle = document.getElementById('prodTitle').value;
            const prodDescription = document.getElementById('prodDescription').value;

            const data = {
                "prodName": prodName,
                "prodLocation": prodLocation,
                "prodLocation1": prodLocation1,
                "prodLocation2": prodLocation2,
                "prodTitle": prodTitle,
                "prodDescription": prodDescription
            };

            addProduct(data);
        
        });

    </script>
</body>

</html>