<!DOCTYPE html>
<html>

<head>
    <title>Add Product</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="/mainStyle.css">

<body>
    <div id="menu"></div>
    <div class="form-main">
        <h1 class="pageTitle">Add New Product</h1>
        <p id="success"></p>

        <div class="form-container">
            <div class="form-column">
                <form id="addProduct" method="post">

                    <div class="form-group">
                        <label for="prodName">Product Name:</label>
                        <input type="text" id="prodName" name="prodName">
                    </div>

                    <div class="form-group">
                        <label for="prodTitle">Title:</label>
                        <input type="text" id="prodTitle" name="prodTitle">
                    </div>

                    <div class="form-group">
                        <label for="prodSubTitle">Sub Title :</label>
                        <input type="text" id="prodSubTitle" name="prodSubTitle">
                    </div>

                    <div class="form-group">
                        <label for="prodSubDesc">Short Description:</label>
                        <textarea id="prodsubDesc" name="prodsubDesc"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="prodDescription">Description:</label>
                        <textarea id="prodDescription" name="prodDescription"></textarea>
                    </div>

                </form>
            </div>
            <div class="form-column">
                <form id="addProduct" method="post">

                    <div class="form-group">
                        <label for="productTypeSelect">Product Type:</label>
                        <select id="productTypeSelect">
                            <option value="" selected>select</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="categorySelect">Product category:</label>
                        <select id="categorySelect">
                            <option value="" selected>select</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="subCategorySelect">Product Sub Category:</label>
                        <select id="subCategorySelect">
                            <option value="" selected>select</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="prodCostQuantity">Cost per Quantity & Quantity Type</label>
                        <div class="cost-quantity-container">
                            <span>NPR&nbsp;</span>
                            <input type="number" id="prodCost" min="0" name="prodCost" placeholder="Cost">
                            <span>per&nbsp;</span>
                            <input type="number" id="prodQuantity" min="0" name="prodQuantity" placeholder="Quantity">
                            <span>-&nbsp;</span>
                            <select id="quantityType">
                                <option value="" selected>type</option>
                                <option value="0">Packs</option>
                                <option value="1">Kg</option>
                                <option value="1">Number</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prodStatus">ProductStatus:</label>
                        <select id="prodStatus">
                            <option value="" selected>select</option>
                            <option value="1">Active</option>
                            <option value="0">Blocked</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="form-column">
                <form id="addProduct" method="post">
                    <div class="form-group">
                        <label for="prodLocation">Location:</label>
                        <input type="text" id="prodLocation" name="prodLocation">
                    </div>
                    <div class="form-group">
                        <label for="prodLocation1">Location 1:</label>
                        <input type="text" id="prodLocation1" name="prodLocation1">
                    </div>
                    <div class="form-group">
                        <label for="prodLocation2">Location 2:</label>
                        <input type="text" id="prodLocation2" name="prodLocation2">
                    </div>
                </form>
            </div>
            <input type="submit" id="addProductButton" value="Add Product">

        </div>
    </div>

    <script type="text/javascript" src="/loggedIn.js"></script>
    <script type="text/javascript" src="/prodMgmt.js">  </script>
    <script type="text/javascript" src="/categoryMgmt.js">  </script>

    <script type="text/javascript" src="/menu.js">  </script>

    <script>
        getProductType('status')
        getCategoriesDropdown()

        document.getElementById('addProductButton').addEventListener('click', function (e) {
            e.preventDefault();

            const prodName = document.getElementById('prodName').value;
            const prodLocation = document.getElementById('prodLocation').value;
            const prodLocation1 = document.getElementById('prodLocation1').value;
            const prodLocation2 = document.getElementById('prodLocation2').value;
            const prodTitle = document.getElementById('prodTitle').value;
            const prodSubTitle = document.getElementById('prodSubTitle').value;
            const prodShortDescription = document.getElementById('prodsubDesc').value;
            const prodDescription = document.getElementById('prodDescription').value;


            const prodType = document.getElementById('productTypeSelect').value;
            const prodCategory = document.getElementById('categorySelect').value;
            const prodSubCategory = document.getElementById('subCategorySelect').value;
            const cost = document.getElementById('prodCost').value;
            const quantity = document.getElementById('prodQuantity').value;
            const quantityType = document.getElementById('quantityType').value;
            const status = document.getElementById('prodStatus').value;

            const data = {
                "prodName": prodName,
                "prodLocation": prodLocation,
                "prodLocation1": prodLocation1,
                "prodLocation2": prodLocation2,
                "prodSubTitle": prodSubTitle,
                "prodTitle": prodTitle,
                "prodShortDescription": prodShortDescription,
                "prodDescription": prodDescription,
                "prodType": prodType,
                "prodCategory": prodCategory,
                "prodSubCategory": prodSubCategory,
                "cost": cost,
                "quantity": quantity,
                "quantityType": quantityType,
                "status": status
            };


            addProduct(data);

        });

    </script>
</body>

</html>