<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Product Details</title>
</head>
<style>

</style>
<link rel="stylesheet" href="/mainStyle.css">

<body>
  <div id="menu"></div>

  <h1>Product Details</h1>
  <button type="button" id='back'>Update Product</button><br>

  <div id="productInfo">
  </div>
  <form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="fileInput" name="prodImages" multiple>
    <button type="button" id='imgUpload'>Upload</button>
</form>
<button type="button" id='done'>Done</button><br>
<h2>Images</h2>
  <div id="productImage">
  </div><br>



  <p id="error"></p>
  <br>
  <div id="productImage">
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/loggedIn.js"></script>
  <script type="text/javascript" src="/prodMgmt.js">  </script>
  <script type="text/javascript" src="/menu.js">  </script>
  <script>
    const url = new URL(window.location.href)
    const prodId = url.searchParams.get('prodId')
    window.onload = displayProduct(prodId);


    const loco = new URL(window.location.href);
    // const prodId = loco.searchParams.get("prodId");
    document.getElementById('imgUpload').addEventListener('click', () => {
      uploadImages(prodId)
    })
    document.getElementById('back').addEventListener('click', () => {
      window.location.href = '/productManagement/updateProds?prodId='+prodId
    })
    document.getElementById('done').addEventListener('click', () => {
      window.location.href = '/productManagement/getProds'
    })

  </script>
</body>

</html>