<!DOCTYPE html>
<html>

<head>
  <title>Product List</title>
</head>
<link rel="stylesheet" href="/pagination.css">

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<style>

</style>

<body>
  <link rel="stylesheet" href="/mainStyle.css">

  <div id="menu"></div>

  <div id="tableBody">
  <table id="userTable" border="1">
    <thead>
      <tr>
        <th>SN</th>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Address</th>
        <th>Address1</th>
        <th>Address2</th>
        <th>Product Title</th>
        <th>Product Description</th>
        <th>Created By</th>
        <th>Updated Date</th>
        <th>Updated Date</th>
        <th>Updated By</th>
      </tr>


    </thead>

    <tbody>
      <!-- Data will be inserted here dynamically -->
    </tbody>
  </table>
</div>
  <table style="border:1px">
    <td>Total Products: <a id="userCount"></a></td>&nbsp;
    <td>Total Pages: <a id="pageCount"></a></td>&nbsp;

    <td>Page Number: <a id="pageNumber"></a></td>&nbsp;

  </table>
  <div id="page">
    <button id="previousPage">
      < </button>
        <div class="pagination" id="pagination-container">
        </div>

        <button id="nextPage">> </button>
  </div>
  <p id="profile"></p>
  <p id="error"></p>

</body>
<script type="text/javascript" src="/loggedIn.js"></script>
<script type="text/javascript" src="/pagination.js">  </script>

<script type="text/javascript" src="/prodMgmt.js">  </script>
<script type="text/javascript" src="/menu.js">  </script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    initPage(getProducts, 'prodPageLoaded', 'prodPageState')
  })
  document.getElementById("previousPage").addEventListener("click", () => handlePreviousPageClick(getProducts));
  document.getElementById("nextPage").addEventListener("click", () => handleNextPageClick(getProducts));
  document.getElementById("pagination-container").addEventListener("click", (e) => handlePageChange(e, getProducts));

  window.addEventListener("popstate", (event) => {
    history.back()
    initPage(getProducts, 'prodPageLoaded', '[{"page":1}]')
  });

</script>

</html>