/* @import url('/font-awesome-4.6.3/css/font-awesome.min.css'); */

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #f9f7f7;
    word-spacing: -1px;
    /* Experiment with different negative values based on your preference */

    /* margin: 20px; */
}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track (the area on which the thumb moves) */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: #dfdede;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

#detailBody {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#productDetails {
    width: 50%;
    margin: 10px;
    display: block;
}

#prod-type-name {
    width: auto;
}

.product-image {
    max-width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-info {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
}

.product-info h2 {
    margin: 0;
    font-size: 1.5em;
}

.product-info p {
    margin: 5px 0;
}

#productLocations {
    width: 30%;
    margin: 10px;
}

.location-list {
    list-style: none;
    padding: 0;
}

.location-item {
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}


#mainBody {
    /* border: 1px solid black; */
    /* margin-top: 5%; */
    display: flex;
    flex-direction: column;

}





#bannerDiv {
    width: 100%;
}

#banner {
    width: 100%;
    margin-top: 67px;
    height: 468px;
    object-fit: cover;
    object-position: center;
}


p {
    color: rgb(60, 60, 60);



}


.bookmark-icon {
    width: 28px;
    position: absolute;
    margin-left: -2px;
    z-index: 2;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    filter: grayscale(100%);

}

.bookmark-icon:hover {
    filter: grayscale(100%) drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
    transform: scale(1.2);
    /* Apply grayscale, scale, and drop shadow using a single filter property */
}



.contact-info {
    font-size: 12px;
    text-align: right;
}

#productTypes-container {
    display: flex;
    justify-content: center;
}


#productTypes {
    display: flex;
    margin-top: 5px;
    white-space: nowrap;
    width: max-content;
    overflow-x: auto;
}


.product-type {
    border: 1px solid #e0e0e0;
    margin: 5px;
    padding: 10px;
    width: max-content;

    border-radius: 10px;
    vertical-align: top;
}

.prod-type-name {
    font-weight: bold;
    align-self: stretch;
    text-align: center;
}

.category {
    position: relative;
    margin-top: 28px;
    width: 100%;
    display: flex;
    vertical-align: top;
    justify-content: space-evenly;
}



.category-name,
.sub-category-name {
    font-weight: bold;
    cursor: pointer;
}

.category-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sub-category {
    display: none;
    position: relative;
    /* Change to relative */
    margin-top: 5px;
    /* Add margin to separate from the category */
    width: 150px;
    z-index: 1000;
    background-color: #f2f2f2;
    white-space: normal;
    flex-direction: column;
}

.category-list:hover .sub-category {
    /* top: 100%;
    left: 100%; */
    display: flex;
}

.sub-category-name {
    display: block;
    padding: 5px;
    margin-bottom: 5px;
}







.top-nav .cart {
    display: flex;
}

/* Top Navigation */
.top-nav {

    width: -webkit-fill-available;

    background-color: #f9f7f7;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}


/* Initial styling, you can customize as needed */
.login-signup {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.login-signup a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}

#bottomLoginSignupDropdown {


    display: none;

    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: relative;
    width: max-content;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;

}

#bottomLoginSignupDropdown a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}



.logo {
    /* margin-left: 10px; */
    flex: 0 0 50px;
    /* flex-grow: 0, flex-shrink: 0, flex-basis: 200px */

    max-width: 100px;
    margin-right: 20px;
    /* Set your preferred logo width */
}

.cart {
    margin-right: 20px;
}

.cart img {
    margin-left: 10px;
    width: 20px;

}

.search-bar {
    width: 100%;
}

.search-bar input {
    max-width: 500px;
    width: 100%;
    /* Set the width as needed */
    padding: 8px;
    /* Adjust padding to your preference */
    border: 1px solid #ccc;
    /* Add a border for clarity */
    border-radius: 4px;
    /* Optional: Add border-radius for rounded corners */
    outline: none;
    /* Remove default outline */
    box-sizing: border-box;
}

.search-bar input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.bottom-nav {
    background-color: #f9f7f7;
    color: #000000;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
}

.bottom-nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}



.login-signup {
    margin-right: 30px;
    color: #000000;
}


@media only screen and (max-width: 600px) {

   .bottom-nav {
        z-index: 1000;
        display: block;
    }

    .login-signup {
        display: none;
    }

    .top-nav {
        background-color: #f9f7f7;
        color: #000000;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        z-index: 1000;
        width: -webkit-fill-available;
        top: 0;
        left: 0;
    }

    .top-nav .cart {
        display: none;
    }

    .search-bar {
        width: 100%;
    }


    .search-bar input {
        max-width: 500px;
        width: 100%;
        /* Adjust padding and border width */
        padding: 8px;
        float: none;
        /* Remove float */
        margin-right: 8px;
        /* Add margin if needed */
    }
}