/* @import url('/font-awesome-4.6.3/css/font-awesome.min.css'); */

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #f9f7f7;
    word-spacing: -1px;
    /* Experiment with different negative values based on your preference */

    /* margin: 20px; */
}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track (the area on which the thumb moves) */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: #dfdede;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

#detailBody {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#productDetails {
    width: 50%;
    margin: 10px;
    display: block;
}

.product-image {
    max-width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-info {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
}

.product-info h2 {
    margin: 0;
    font-size: 1.5em;
}

.product-info p {
    margin: 5px 0;
}

#productLocations {
    width: 30%;
    margin: 10px;
}

.location-list {
    list-style: none;
    padding: 0;
}

.location-item {
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}


#productCategory {
    color: grey;
    margin-left: 5%;
}



#mainBody {
    /* border: 1px solid black; */
    /* margin-top: 5%; */

    display: flex;

}

#productTypes {
    margin-top: 77px;
    width: 250px;
    display: inline;
    /* position: relative; */
}

/* Media query for mobile view */
@media (max-width: 600px) {
    #productTypes {
        display: none;

    }
}

.category {
    /* display: none; */
    margin: 5px;
    padding: 7px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #e3e0e0;

}


.product-type {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

.product-title {

    font-size: small;
    color: rgb(120, 120, 120);
    font-weight: 500;
    /* height: 25px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
}

.product-size-info {
    display: block;
    width: 100%;
}


.size-info {

    font-size: 10px;
    margin: 5px;
    opacity: 0.8;
    display: flex;
    align-items: center;
}

.size-info i {
    margin-left: 5px;
    /* Adjust as needed */
    margin-right: 15px;
    /* Adjust as needed */
}



.product-cost {
    width: 100%;
    height: auto;
    font-size: 12px;
    text-align: left;
    margin: 5px;
}


.products-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: stretch;
}

.product-content-div {
    position: relative;
    border-radius: 15px;
    margin: 3px;
    margin-top: 0;
    background: inherit;
    display: inline-block;
    align-items: center;
    /* border: 1px solid red; */
    width: fit-content;
    height: fit-content;
    transition: box-shadow 0.3s ease, opacity 0.3s ease;
    /* box-shadow: 0px 8px 18px #efefef 0px -3px 12px #efefef; */
    border: 1px #efefef solid;
    ;

}

.product-div {
    height: 300px;
    width: 300px;
}

.product-content-div:hover {
    box-shadow: 0px 8px 18px rgba(196, 196, 196, 0.2), 0px -8px 18px rgba(196, 196, 196, 0.2);
    /* Increase shadow on hover, include negative y-offset */
    opacity: 0.9;
}



.product-location {
    font-size: 11px;
    font-weight: 100;
    color: rgb(120, 120, 120);

    /* height: 25px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;

}

p {
    color: rgb(120, 120, 120);

}

.sub-category {
    /* display: none; */
    margin: 5px;
    padding: 7px;
    border-radius: 10px;
    background-color: #c5c3c3;
    margin-left: 10px;
}

.book-button {
    /* background-color: black; */
    background: linear-gradient(to right, #9a9a9a, #747474);

    padding: 10px 30px;
    color: white;
    border-radius: 3px;
    align-items: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    font-size: 18px;
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2), 0px -3px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;


}

.book-button:hover {
    transform: scale(1.1);

    opacity: 0.7;
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.2), 0px -3px 14px rgba(0, 0, 0, 0.2);


}

.bookmark-icon {
    width: 28px;
    position: absolute;
    margin-left: -2px;
    z-index: 2;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    filter: grayscale(100%);

}

.bookmark-icon:hover {
    filter: grayscale(100%) drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
    transform: scale(1.2);
    /* Apply grayscale, scale, and drop shadow using a single filter property */
}



.contact-info {
    font-size: 12px;
    text-align: right;
}

.list-item {
    cursor: pointer;
    padding: 7px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.category-item {
    cursor: pointer;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    /* Updated style */
    margin-bottom: 5px;
}

/* .category-name {
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
} */

.sub-category-list {
    cursor: pointer;
    margin-left: 20px;
    /* Adjusted margin */
    background-color: #f8f8f8;
    border-radius: 3px;
    display: none;
    padding: 5px;
}

.sub-category-list-item {
    cursor: pointer;
    margin-left: 20px;
    /* Adjusted margin */
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 5px;
}



#scrollButton {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
}

.scroll-btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}


/* .prev {
    z-index: 100;
} */




#listProducts {
    border-radius: 3px;
    /* width: 80%; */
    display: inline-flex;
    /* margin-left: 25px;
    margin-right: 25px; */

}



.img-container {
    height: 169px;
}



.img-container .img-href {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: block;

}


.img-container .img-href .img {
    height: auto;
    width: 300px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}



.top-nav .cart {
    display: flex;
}

/* Top Navigation */
.top-nav {
    
    width: -webkit-fill-available;

    background-color: #f9f7f7;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}


/* Initial styling, you can customize as needed */
.login-signup {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.login-signup a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}

#bottomLoginSignupDropdown {


    display: none;

    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: relative;
    width: max-content;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;

}

#bottomLoginSignupDropdown a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}



.logo {
    /* margin-left: 10px; */
    flex: 0 0 50px; /* flex-grow: 0, flex-shrink: 0, flex-basis: 200px */

    max-width: 100px;
    margin-right:  20px;
    /* Set your preferred logo width */
}

.cart {
    margin-right:  20px;
}

.cart img {
    margin-left: 10px;
    width: 20px;

}
.search-bar{
    width: 100%;
}
.search-bar input {
    max-width: 500px;
    width: 100%;
    /* Set the width as needed */
    padding: 8px;
    /* Adjust padding to your preference */
    border: 1px solid #ccc;
    /* Add a border for clarity */
    border-radius: 4px;
    /* Optional: Add border-radius for rounded corners */
    outline: none;
    /* Remove default outline */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

/* Optional: Add styles for focus state */
.search-bar input:focus {
    border-color: #007bff;
    /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    /* Add a subtle box shadow on focus */
}

/* Bottom Navigation (Mobile) */
.bottom-nav {
    background-color: #f9f7f7;
    color: #000000;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
}

.bottom-nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}



.login-signup {
    margin-right: 30px;
    color: #000000;
}

#mainProdDiv {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

#mainProdBody {
    top: 100px;
    overflow-x: auto;
    height: 430px;
}

#prods {
    flex: 1;
    top: 100px;
    overflow-x: auto;
    height: 430px;
    position: relative;
    height: max-content;
    white-space: nowrap;

}

.prev {
    margin-top: -138px;
    float: left;
    left: 0px;
    z-index: 100;
    position: sticky;

}

#posButton {
    border-radius: 40px;
    border: white;
    background-color: white;
    padding: 10px 14px;
    box-shadow: 0.5px 0.1px #000000;
    font-weight: 500;
    opacity: .9;
}

/* .prev .next {
    position: absolute;
} */
.next {
    display: inline;
    right: 5px;
    z-index: 100;
    position: sticky;


}



/* @media only screen and (max-width: 1300px) {
    #prods{
        width: 700px;
    
      }

}

@media only screen and (max-width: 1300px) {
    #prods{
        width: 700px;
    
      }

} */

/* Responsive Styles */
@media only screen and (max-width: 600px) {

    #listProducts {
        width: fit-content;
    }

    .bottom-nav {
        z-index: 1000;
        display: block;
    }

    .login-signup {
        display: none;
    }

    .top-nav {
        background-color: #f9f7f7;
        color: #000000;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        z-index: 1000;
        width: -webkit-fill-available;
        top: 0;
        left: 0;
    }
    .top-nav .cart{
        display: none;
    }
    .search-bar{
        width: 100%;
    }


    .search-bar input {
        max-width: 500px;
        width:100%;        /* Adjust padding and border width */
        padding: 8px;
        float: none;
        /* Remove float */
        margin-right: 8px;
        /* Add margin if needed */
    }
}