<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
</head>
<link rel="stylesheet" href="/profile.css">

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<body>
    <div id="menu"></div>
    <button id="edit">Edit User</button>
    <div id="profileContainer">
        <h1>User Profile</h1>
        <div id="profile">
            <p><strong>User ID:</strong> <span id="userId"></span></p>
            <p><strong>Username:</strong> <span id="userName"></span></p>
            <p><strong>Email:</strong> <span id="email"></span></p>
            <p><strong>Role:</strong> <span id="role"></span></p>
            <p><strong>Full Name:</strong> <span id="fullName"></span></p>
        </div>
    </div>
    <p id="profile"></p>
    <p id="error"></p>

</body>
<script type="text/javascript" src="/loggedIn.js"></script>
<script type="text/javascript" src="/profile.js">  </script>
<script type="text/javascript" src="/menu.js">  </script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        getUserDetails();
    });

</script>

</html>