<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feature Detail</title>
  <link rel="stylesheet" href="/mainStyle.css">
</head>

<body>
  <div id="menu"></div>

  <div id="featureDetail"></div>

  <h2>Images</h2>
  <div id="productImage">
  </div>
  <input type="file" id="fileInput" multiple>
  <button id="uploadImage">Upload Images</button>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/loggedIn.js"></script>
  <script type="text/javascript" src="/featureMgmt.js">  </script>
  <script type="text/javascript" src="/menu.js"></script>
  <script>

    getFeatureDetail()
    const featureId = new URL(document.location.href).searchParams.get('featureId')
    document.getElementById('uploadImage').addEventListener('click', () => {
      uploadImages(featureId)
    })

    async function displayFeatureImage() {
      const imageUrls = await getFeatureImage(featureId);

      const imageContainer = document.getElementById('productImage');
      imageContainer.innerHTML = '';

      const imageWrapper = document.createElement('div');
      imageWrapper.setAttribute('class', 'image-wrapper');
      imageUrls.forEach(imageUrl => {
        const pathname = new URL(imageUrl).pathname;
        const imgDiv = document.createElement('div');
        imgDiv.setAttribute('id', 'imgDiv')
        const deleteButton = document.createElement('button');
        deleteButton.textContent = '🗑 Delete';
        deleteButton.setAttribute("id", "deleteimage")
        deleteButton.addEventListener('click', () => {
          const confirmation = confirm('Are you sure you want to delete this image?');
          if (confirmation) {
            deleteFeatureImg(encodeURIComponent(pathname));
          } else {
            console.log('Deletion cancelled by user');
          }
        });


        const imgElement = document.createElement('img');
        imgElement.setAttribute('id', 'productImages');
        imgElement.src = imageUrl;
        imgElement.alt = 'Product Image';

        imageContainer.appendChild(imageWrapper);
        imageWrapper.appendChild(imgDiv)
        imgDiv.appendChild(imgElement);
        imgDiv.appendChild(deleteButton);
      })

    }
    window.addEventListener('load',()=>{
      displayFeatureImage()

    })
  </script>
</body>

</html>