<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature List</title>
</head>
<body>
    <div id="success"></div>
    <div id="errorMsg"></div>
    <ul id="featureList"></ul>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/loggedIn.js"></script>
    <script type="text/javascript" src="/featureMgmt.js">  </script>
    <script type="text/javascript" src="/menu.js">  </script>
    <script>


        function viewFeature(featureId) {
            // Navigate to the detail view by passing the featureId
            window.location.href = `/featureManagement/getFeatureDetail?featureId=${featureId}`; // Update the URL pattern accordingly
        }

        // Example usage
        listFeature(/* your data object here */);
    </script>
</body>
</html>
